__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/
*env/


.ruff_cache/

*.log
*.pot
*.pyc
db.sqlite3

*.env
*.dockerignore
docker-compose.override.yml


.pytest_cache/

.vscode/



htmlcov/
.coverage
.coverage.*



